<h2> Settings </h2>
<div class="container border rounded">
    <div class="row justify-content-md-center">
        <div>
            <button type="button" class="btn btn-primary" (click)="createRoom()">CREATE ROOM</button>
        </div>
        <div *ngIf="showSecretKey">
            <span>SECRET ROOM: {{secretRoomKey}}</span>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <select class="browser-default custom-select">
          <option value="1">Fibonacci</option>
      </select>
      </div>
      <div class="col-md-6">
        <div>
            <button type="button" class="btn btn-success" (click)="startPoll()">START POLL</button>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="Secret" [(ngModel)]="secretInput">
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" (click)="joinRoom()">JOIN ROOM</button>
        </div>
    </div>
    <div>
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" (click)="quitRoom()">EXIT ROOM</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
        <button type="button" class="btn btn-primary" (click)="revealPoll()">REVEAL POLL</button>
        </div>
    </div>
</div>
