<!--The content below is only a placeholder and can be replaced.-->
<app-poll-header></app-poll-header>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-poll-settings [userId]="userId"></app-poll-settings>
        </div>
        <div class="col-md-8">
            <div>
                <app-poll-layout></app-poll-layout>
            </div>
            <div class="border rounded">
                <app-poll-vote *ngIf="getPollStatus() === 'start-poll'"></app-poll-vote>
                <app-poll-chart *ngIf="getPollStatus() === 'reveal-poll'"></app-poll-chart>
            </div>
        </div>
    </div>
</div>
